* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.main {
	width: 90%;
	margin: 0 auto;
	background-color: rgba(120,50,120,0.1);
}

.header h1 {
	text-align: center;
	font-size: 3em;
	border-bottom: 2px solid rgba(30,50,70,0.9);
	padding: 5px 0;
	font-family: serif;
}

.auto {
	color: red;
	padding: 10px 0;
	background-color: lime;
}

.body {
	height: 700px;
}

.footer {
	text-align: center;
	border-top: 2px solid rgba(30,50,70,0.9);
	padding: 10px 5px 20px 5px;
	font-family: cursive;
}


/*MEDIA QUERY*/
@media only screen and (max-width: 480px){
   .header h1 {
   	font-size: 1em;
   }
}
