* {
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
	text-decoration: none;
	box-sizing: border-box;
	font-family: cursive;
}

.main {
	width: 90%;
	margin: 0 auto;
	background-color: rgba(120,50,120,0.2);
}

.header h1 {
	text-align: center;
	font-size: 3em;
	border-bottom: 2px solid rgba(30,50,70,0.5);
	padding: 5px 0;
}

.auto {
	color: red;
	padding: 10px 0;
	background-color: lime;
}

.body {
	height: 500px;
}

.footer {
	text-align: center;
	border-top: 2px solid rgba(30,50,70,0.5);
}